# Copyright 2014 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
- name: Check that the Stackdriver API key has been specified.
  fail: msg="Please provide your Stackdriver API key in the variable stackdriver_api_key."
  when: stackdriver_api_key is not defined or not stackdriver_api_key

- name: Include OS-specific variables.
  include_vars: "{{ item }}"
  with_first_found:
    - ../vars/{{ ansible_distribution }}.yml
    - ../vars/{{ ansible_os_family }}.yml

# OS-specific installation

- include: Debian.yml
  when: ansible_os_family == "Debian"

- include: RedHat.yml
  when: ansible_os_family == "RedHat"

- include: Windows.yml
  when: ansible_os_family == "Windows"

# Post-install configuration (Linux only)

- include: configure.yml
  when: ansible_os_family != "Windows"

- meta: flush_handlers

# Post-everything diagnostics

- include: diagnostics.yml
  sudo: no
  when: ansible_os_family != "Windows"
